h1 {
	font-size: 1.90em;
}

h2 {
	font-size: 1.45em;
}

h2 {
	font-size: 1.15em;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.tab1 { margin-left: 2em; }
.tab2 { margin-left: 4em; }

body {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	background-color: rgb(237, 237, 237);
	color: rgb(50, 48, 48);
	font-size: 1.0em;
	max-width: 38em;
    word-wrap:break-word;
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
}

.right {
	text-align: right;
	float: right;
}

table td, table td * {
    vertical-align: top;
}
