h1 {
	font-size: 2.0em;
}

h2 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.3em;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

.tab1 { margin-left: 3em; }
.tab2 { margin-left: 5em; }

footer {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	background-color: rgb(237, 237, 237);
	color: rgb(119, 118, 118);
	font-size: 1.0em;
	max-width: 48em;
    word-wrap:break-word;
	text-align: left;
}

body {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	background-color: rgb(237, 237, 237);
	color: rgb(50, 48, 48);
	font-size: 1.0em;
	max-width: 48em;
    word-wrap:break-word;
	text-align: left;
	padding-left: 2em;
	padding-right: 2em;
}

.right {
	text-align: right;
	float: right;
}

table td, table td * {
    vertical-align: top;
}

pre {
	display: block;
	font-family: monospace;
	white-space: pre-wrap;
	inline-size: 60em;
    overflow-wrap: break-word;
  }
  